.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header{
  flex: 20%;
  background-color: darkgray;
}
.menu{
  flex: 5%;
  background-color: lightgray;
  display: flex;
  align-items: center;
}
.menu a{
  padding: 15px 20px;
  color: brown;
}
.menu hover{
  background-color: darkgray;
  color: black;
}
.content{
  flex: 70%;
  background-color: white;
}
.content iframe{
  flex: 1;
  border: none;
  width: 100%;
  height: 100%; 
}
.footer{
  flex: 5%;
  background-color: lightgray;
}
h1 {
  color: red;
}
.tieude {
  color: crimson;
  font-weight: bold;
  font-size: 20pt;
}
.noidung {
  color: khaki;
  font-style: normal;
  font-size: 14pt;
}
